html, body {
  width: 350px;
}

/*a {
  margin: 10px;
  display: inline-block;
}*/

.panel {
  margin: 5px;
}

 table, td {
    border: 1px solid black;
}


#All_authors {
display:table;
width:100%;
}

#All_authors > div {
	display: table-row;
}

#All_authors > div[data-sel="1"] span {
  color:#ff0000;  
}


#All_authors > div > span {
	display:table-cell;
}
