.mySubDiv {
    width: 300px;
    display: table-cell;
}
.res-cell{
  display: table-cell;
  margin-bottom: 15px;
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid #b4b8bd;
  font-family: Arial,sans-serif;

}
.res-row{
  display: table-row;
}
.res-table {
  display: table-cell;
  line-height: 1.42857143;
}

.res-table > div {
  border-style: solid;
  border: 3px;
}
.res-title .res-cell {
  font-weight:bold;
  border-style: solid;
  border: 3px;
}
#All_authors {
display: table-cell;
margin-bottom: 15px;
}
#All_authors > div {
	display: table-row;
    border-bottom: 1px solid #b4b8bd;
    padding: 10px 10px 10px 10px;
}
#All_authors > div[data-sel="1"] span {
  color:#0000FF;
}
#All_authors > div > span {
	display:table-cell;
}
#fromDate {
  margin-bottom: 1px;
  margin-left: 5px;
  margin-top: 1px;
}
#toDate {
  margin-bottom: 1px;
  margin-left: 5px;
}
.textH5 {
  margin-bottom: 5px;
  margin-left: 5px;
}
#myBtn {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#multSelect {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#dsGostR {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#dsTrEaes {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#ssTrEas {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#ssGostR {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#mainDiv {
  display: table-row;
}
